html {
  font-size: 11.5px;
  overflow: hidden;
}

body {
  font-family: 'Cousine', sans-serif;
  background-color: #333;
}

.page {
  background-color: #fff;
  max-width: 8.5in;
  max-height: 11in;
  padding: 0.5in;
  box-sizing: border-box;
  margin: 0 auto;
  overflow-y: scroll;
}

.header {
  display: flex
}

.header--left {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.header--right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  width: 30%;
}

@media print {
  body {
    background-color: #fff;
    overflow: hidden;
  }

  .page {
    background-color: #fff;
    max-width: auto;
    max-height: auto;
    padding: 0;
    box-sizing: content-box;
    margin: 0;
    overflow: visible;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', serif;
}

.table p:last-child,
.table dl:last-child {
  margin-bottom: 0;
}

.no-wrap {
  white-space: nowrap;
}

dt {
  margin-bottom: .5rem;
}

.section {
  padding-top: 1rem;
}

.section .section--technical {
  padding-top: 3rem;
}

.section.section--work {
  padding-top: 0;
}

.job-description {
  margin-top: 1rem;
}

.section td {
  padding-top: 2rem;
}
